.rtl {
  text-align: right;
}
.inscribe-circle {
  border: 1px solid gray;
  color: lightgray;
  padding: 3px;
  border-radius: 50%;
}
.highlight {
  // font-size: 2rem;
  font-weight: 900;
}

.bismillah {
  text-align: center;
  font-size: 3rem;
  padding: 10px;
}

ion-content {
  position: relative;

  ion-footer {
    position: fixed;
    bottom: 0;
  }
}

.content {
  overflow-y: auto;
  height: calc(100vh - 112px);

  ion-list {
    background-color: transparent;

    ion-item {
      --border-width: 0;
      --inner-border-width: 0;
      margin-bottom: 10px;

      .surah {
        display: flex;
        width: 100%;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        overflow-y: auto;

        &-option {
          .verse {
            font-family: inherit;
            height: 30px;
            cursor: pointer;
            margin: 10px 0;
            text-decoration: none;
            white-space: nowrap;
            color: #c1c2c7;

            &-no {
              background-color: #ebebed;
              color: #71727e;
              border-radius: 4px;
              padding: 3px 4px;
              font-size: 14px;
            }
          }
        }

        &-translations {
          width: 100%;
          padding: 10px 0 10px 10px;

          .arabic {
            color: #00acc2;
          }
        }
      }
    }
  }
}

.pagination {
  height: 100%;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center space-between;
  align-items: center;
}
.rtl{
    text-align: right;
}
.inscribe-circle{
    border:1px solid gray;
    color:lightgray;
    padding:3px;
    border-radius: 50%;
}
.highlight{
    font-size: 2.4rem;
    font-weight: 900;
}
.translated-text{
    border-top: dotted 1px lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.8rem;
}
.size-label{
    font-weight: 900;
    padding-right: 5px;
}
.surah-audio{
  width:100%;
}